* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.aboutUs-main {
    min-height: 100vh;

}

.section1-aboutUs {
    min-height: 100vh;
    background: #0f0f0f;
}


.header-aboutUs {
    width: 100%;
    height: 400px;
}

.header-aboutUs img {
    width: 100%;
    height: 400px;
    filter: saturate(0);
    object-fit: cover;
}

.aboutUs-title {
    padding-top: 100px;
    text-align: center;
    font-size: 80px;
    color: white;
}