<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <footer>

        <div class="footer-container">

            <div class="logo-footer">
                <img src="/assets/logo.png" alt="" class="logo-footer" id="logo-footer">
                <p class="slogan-footer" id="slogan-footer">
                    Ihr Installateur für Sanitär- und Heiztechnik in Mülheim an der Ruhr.
                </p>
            </div>

            <div class="contact-footer">
                <h1>Kontakt</h1>
                <p><i class="fi fi-sr-marker"></i>Mülheimer Gebäudetechnik MGT
                    Heinrich-Melzer-Str. 7
                    45468 Mülheim a. d. Ruhr</p>
                <p><i class="fi fi-sr-envelope"></i>
                    info@mh-gt.de</p>
                <p><i class="fi fi-sr-phone-call"></i>
                    0208 38558781</p>
            </div>

            <div class="quick-access-container">
                <h1>Schnellzugriff</h1>
                <a href="#" class="quick-access-link">Startseite</a>
                <a href="#" class="quick-access-link">Dienstleistungen</a>
                <a href="#" class="quick-access-link">Über uns</a>
                <a href="#" class="quick-access-link">Kontakt</a>
            </div>

            <div class="map-footer-container" id="map-footer-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d156799.16423590292!2d6.999618!3d51.40534!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8c18ec89ad3c7%3A0xfd8467840bb18f15!2sMGT%20-%20M%C3%BClheimer%20Geb%C3%A4udetechnik%20GmbH!5e1!3m2!1spt-BR!2sus!4v1755176824681!5m2!1spt-BR!2sus"
                    width="350" height="200" style="border:0; border-radius: 20px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="cop-footer">
            <p>© 2025 MGT. Alle Rechte vorbehalten. Website entwickelt von <a href="https://laurindodev.vercel.app/"
                    target="_blank">Caio Laurindo</a>.</p>
        </div>
    </footer>
</body>

</html>